.mediaViewInfo {
	--web-view-name: Contact;
	--web-view-id: Contact;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
:root {
	--web-view-ids: Contact;
}
* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
	border: none;
}

a {
	color:#F24E29;
}
a:visited {
	color:#F24E29;
}
a:hover {
	color:#F2CB05;
}

#Contact {
	position: absolute;
	width: 1920px;
	height: 1080px;
	background-color: rgba(255,255,255,1);
	overflow: hidden;
	--web-view-name: Contact;
	--web-view-id: Contact;
	--web-scale-to-fit: true;
	--web-scale-to-fit-type: width;
	--web-scale-on-resize: true;
	--web-enable-deep-linking: true;
}
#nav {
	position: absolute;
	width: 1920px;
	height: 224px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#header_nav {
	fill: rgba(255,255,255,1);
}
.header_nav {
	filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.161));
	position: absolute;
	overflow: visible;
	width: 1950px;
	height: 254px;
	left: 0px;
	top: 0px;
}
#about {
	position: absolute;
	width: 170px;
	height: 68px;
	left: 875px;
	top: 75px;
	overflow: visible;
}
#About_u {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	color: rgba(20,133,179,1);
}
#About_v {
	left: 3px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 168px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	color: rgba(242,78,41,1);
}
#contact {
	position: absolute;
	width: 237px;
	height: 68px;
	left: 1565px;
	top: 75px;
	overflow: visible;
}
#CONTACT_x {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	color: rgba(20,133,179,1);
}
#CONTACT_y {
	left: 3px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 235px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 58px;
	color: rgba(242,78,41,1);
}
#home {
	position: absolute;
	width: 151px;
	height: 66px;
	left: 118px;
	top: 76px;
	overflow: visible;
}
#HOME_ {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 57px;
	color: rgba(20,133,179,1);
}
#HOME_ba {
	left: 3px;
	top: 3px;
	position: absolute;
	overflow: visible;
	width: 149px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 57px;
	color: rgba(242,78,41,1);
}
#body {
	position: absolute;
	width: 1129px;
	height: 426px;
	left: 393px;
	top: 432px;
	overflow: visible;
}
#gen {
	position: absolute;
	width: 1129px;
	height: 193px;
	left: 0px;
	top: 0px;
	overflow: visible;
}
#INFOFLTERBLACKCOM {
	left: 0px;
	top: 54px;
	position: absolute;
	overflow: visible;
	width: 1124px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 102px;
	color: rgba(158,51,27,1);
}

#INFOFLTERBLACKCOM_ {
	left: 6px;
	top: 60px;
	position: absolute;
	overflow: visible;
	width: 1124px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 102px;
	color: rgba(242,78,41,1);
}
#GENERAL_INQUIRIES {
	left: 319px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 499px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 54px;
	color: rgba(0,0,0,1);
}
#add_bus {
	position: absolute;
	width: 890px;
	height: 181px;
	left: 123px;
	top: 245px;
	overflow: visible;
}
#LINK {
	left: 335px;
	top: 63px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 102px;
	color: rgba(158,51,27,1);
}
#LINK_ {
	left: 341px;
	top: 68px;
	position: absolute;
	overflow: visible;
	width: 209px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 102px;
	color: rgba(242,78,41,1);
}
#ADD_YOUR_BUSINESS_TO_THE_SITE {
	left: 0px;
	top: 0px;
	position: absolute;
	overflow: visible;
	width: 891px;
	white-space: nowrap;
	text-align: left;
	font-family: Cornerstone;
	font-style: normal;
	font-weight: normal;
	font-size: 54px;
	color: rgba(0,0,0,1);
}