@font-face {
    font-family: 'cornerstoneregular';
    src: url('cornerstone-font-kit/cornerstone-webfont.woff2') format('woff2'),
         url('cornerstone-font-kit/cornerstone-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html{
    background-color: snow;
    scroll-behavior: smooth;
}

.ARROWS{
    padding-top: 0.5vw;
}
header{
    width: 100%;
    padding-top: 20px;
    padding-bottom: 20px;
    top: 0;
    background-color: snow;
    position: fixed;
    filter: drop-shadow(0px 8px 10px rgba(0, 0, 0, 0.161));
}
.HOMEBUTTON{
    padding-top: 2.5vw;
  }
#featured{
      font-family: 'cornerstoneregular';
      padding-left: 1vw;
      padding-bottom: 2vw;
}
.PAGE_TITLE {
    font-size: 7vw;
    padding-top: 2vw;
    padding-bottom: 1.8vw;
}
nav a{
    font-family: 'cornerstoneregular';
    text-decoration: none;
    padding-top: 4vw;
}
.BODYNAV a{
  text-decoration: none;
  font-family: 'cornerstoneregular';
  text-shadow: -0.4vw -0.2vw black;
}
img {
    display: block;
    width: 100%;
    height: 100%;
    border-radius: 25px 25px 0px 0px;
}
.wrapper {
    width: 100%;
    margin: 200px auto;
    padding-right: 15%;
    padding-left: 15%;
    padding-top: 9vw;
}
.cards_wrap {
    display: flex;
    flex-wrap: wrap;
}
.cards_wrap .card_item {
    width: 33%;
    padding: 10px;
}
.cards_wrap .card_inner {
    border-radius: 25px;
    background: black;
    box-shadow: 4px 4px 6px rgba(106, 106, 106, 0.6);
}
.cards_wrap .card_top {
    width: 100%;
    min-height: 225px;
    padding-bottom: 0;
}
.cards_wrap .card_bottom .card_info {
    padding: 25px;
    background: white;
    border-radius: 25px;
    font-family: 'IBM Plex Sans', sans-serif;
}
.cards_wrap .feat_info {
    padding: 25px;
    background: black;
    border-radius: 0px 0px 25px 25px;
    color: white;
    font-family: 'IBM Plex Sans', sans-serif;
}
.cards_wrap .feat_info .title {
    font-size: 2.3vw;
    margin-bottom: 5px;
    text-decoration: none;
    font-family: 'cornerstoneregular';
}
.cards_wrap .feat_info .title:hover {
    text-decoration: underline;
}
.cards_wrap .card_bottom .card_info .title {
    font-size: 2.3vw;
    margin-bottom: 5px;
    font-family: 'cornerstoneregular';
}
.cards_wrap .card_bottom .card_info .title:hover {
    text-decoration: underline;
}
  
@media (max-width: 1024px) {
    .cards_wrap .card_item {
      width: 33.3%;
    }
}
@media (max-width: 768px) {
    .cards_wrap .card_item {
      width: 33.3%;
    }
}
@media (max-width: 528px) {
    .cards_wrap .card_top {
      height: auto;
    }
    .cards_wrap .card_item {
      width: 100%;
    }
    .PAGE_TITLE{
        font-size: 11vw;
    }

    .cards_wrap .feat_info .title {
        font-size: 6vw;
    }
    .cards_wrap .card_bottom .card_info .title {
        font-size: 6vw;
    }

    

}

/*FASH*/
#fash {
    color: #1CBFFF;
    text-shadow: -0.2vw -0.1vw #F2CB05;
}
#fash:hover {
    color: #F24E29;
}

/*FOOD*/
#food {
    color: #F2CB05;
    text-shadow: -0.2vw -0.1vw #F24E29;
}
#food:hover {
    color: #1CBFFF;
}

/*TECH*/
#tech {
    color: #F24E29;
    text-shadow: -0.2vw -0.1vw #1cbfff;
}
#tech:hover {
    color: #f2cb05;
}

/*ACC*/
#acc {
    color: #1CBFFF;
    text-shadow: -0.2vw -0.1vw #F24E29;
}
#acc:hover {
    color: #F2CB05;
}

/*BEAU*/
#beau {
    color: #f2cb05;
    text-shadow: -0.2vw -0.1vw #656565;
}
#beau:hover {
    color: #F24E29;
}

/*ART*/
#art {
    color: #F24E29;
    text-shadow: -0.2vw -0.1vw #F2CB05;
}
#art:hover {
    color: #1CBFFF;
}

